# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/


# OS-related files
.DS_Store
Thumbs.db

# IDE-related
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Compiled files
dist/
build/
tmp/
temp/

# Database artifacts
*.sqlite
*.db
*.dump

# Optional: Ignore uploads (if stored locally)
uploads/
public/uploads/

# TypeScript
*.tsbuildinfo

# Prisma files
prisma/dev.db
prisma/migrations/

# .env files for environment variables
.env
prisma/.env
.env.*.local

prisma/generated