# Environment variable files
.env.dev
.env.prod

# Prisma local .env (if any)
prisma/.env

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/

# OS-specific
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build output
dist/
build/
tmp/
temp/

# Prisma local data and generated artifacts
prisma/dev.db
prisma/migrations/
prisma/generated

# Optional uploads
uploads/
public/uploads/

# TypeScript metadata
*.tsbuildinfo
