<form class="register-page-form" action="/api/register" method="POST">
  <div class="register-page-form__input-wrapper">
    <div>
      <label for="username">Username:</label>
      <br />
      <input type="text" id="username" name="username" required />
    </div>
    <div>
      <label for="password">Password:</label>
      <br />
      <input type="password" id="password" name="password" required />
    </div>
    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <br />
      <input type="password" id="confirmPassword" name="confirmPassword" required />
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button type="submit">Register</button>
  </div>
</form>
