<form class="register-page-form" action="/api/user" method="POST">
  <div class="register-page-form__input-wrapper">
    <div>
      <label for="email">Email:</label>
      <br />
      <input type="text" id="email" name="email" required />
    </div>
    <div>
      <label for="password">Password:</label>
      <br />
      <input type="password" id="password" name="password" required />
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button type="submit">Register</button>
  </div>
</form>
